.favorite {
  background-color: rgb(197, 192, 192);
  padding-top: 150px;
  &__card {
    display: flex;
    justify-content: center;
  }
}
.favorite h2 {
  font-size: 30px;
  padding: 20px;
}
.favorite button {
  background-color: rgb(158, 31, 31);
  color: white;
  padding: 10px;
  margin: 40px auto;
  border-radius: 10px;
  cursor: pointer;
}
