.header {
  height: 200px;
  width: 100%;
  background-color: rgb(104, 151, 113);
  display: flex;
  justify-content: space-around;
  position: relative;
  &__logo {
    display: flex;
    align-items: center;
  }
  &__logo img {
    width: 150px;
    height: 120px;
  }
  &__teach-learn {
    display: flex;
    align-items: flex-start;
    padding-top: 40px;
    justify-content: space-between;
    gap: 100px;
  }

  &__learn a {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
  &__teach a {
    text-decoration: none;
    color: white;
  }
  &__teach-learn a {
    text-decoration: none;
    color: white;
  }
  &__button-signin {
    padding: 5px;
    background-color: rgb(124, 60, 60);
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
  }
  &__table {
    position: absolute;
    width: 700px;
    height: 250px;
    top: 90px;
    z-index: 1;
  }
  &__table img {
    width: 100%;
    height: 100%;
  }
}
