.teacher-card{
  width: 600px;
  height:auto;
  display: flex;
  padding: 50px;
  background-color: rgb(25, 78,71);
  border-radius: 20px;

&__data img {
  width: 80px;
   height: 80px;
   border-radius: 50%;
   border-style: double;
   
}
 &__data-name{
   display: flex;
   justify-content: center;
   gap: 5px;
   align-items: center;
 }
 &__data-name h2{
   font-size: 15px;
 }

 &__button{
   display: flex;
   justify-content: space-around;
 }
  &__button button{
    padding: 5px;
    width: 80px;
    background-color: rgb(110, 69, 69);
    color: white;
    border-radius: 10px;
   
  }
  &__details-text{
    color: white;
    padding: 20px;
  }
  &__details-habilities{
    display: flex;
    justify-content: space-around;
    align-items: center;

    h2{
      font-size: 20px;
    }
    p{
      font-size: 14px;
    }
  }
}

.group1{
  display: flex;
  justify-content: space-around;
  &__data-teacher{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }
  &__price{
    display: flex;
    align-items: center;
  }
}

.group2{
  display: flex;
  justify-content: space-evenly;
  font-size: 12px;
 
 &__star{
   display: flex;
   align-items: center;
 }
}
.group3{

  display: flex;
  justify-content: center;
  align-items: center;
 
  
}





