.teacher-card {
  color: black;
  text-decoration: none;
  width: 500px;
  height: 180px;
  display: flex;
  padding: 10px;
  background-color: rgb(167, 114, 114);
  border-radius: 20px;
  &__name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  &__data {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  &__data img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border-style: double;
  }
  &__data-price {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    align-items: center;
  }

  &__country-country {
    font-size: 16px;
    color: black;
  }
  &__details-text {
    color: white;
    padding: 20px;
    font-size: 14px;
  }
  &__habilities {
    display: flex;
    justify-content: space-around;
  }

  &__habilities-speciality {
    h2 {
      font-size: 20px;
      text-decoration: none;
    }
    p {
      font-size: 14px;
    }
  }
  &__habilities-languages {
    h2 {
      font-size: 20px;
    }
    p {
      font-size: 14px;
    }
  }

  &__habilities-book {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
  }
}
.button-book {
  padding: 5px;
  width: 80px;
  background-color: rgb(110, 69, 69);
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.heart {
  background-color: rgb(167, 114, 114);
}
